- name: Copier le site web
  template:
    src: index.html.j2
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: '0644'

- name: Assurer que Nginx sert le site
  systemd:
    name: nginx
    state: restarted

