<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>KapsuleKorp</title>
</head>
<body>
    <h1>Bienvenue sur {{ env | capitalize }} - KapsuleKorp</h1>
    <p>Ce site est déployé automatiquement avec Ansible.</p>
</body>
</html>

